*{margin:0; padding:0; border:none; outline:none; font-weight: 300; box-sizing: border-box;}

#teladelogin{width:50vh;height:50vh; display: flex; justify-content: center; align-items: center; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align:center; background-color:red }
#mensagem{  width: 100%;  bottom: 10px; left: 0; text-align: center; }
.inputlogin{width:40vh; height:5vh}
.sendlogin{width:40vh; height:5vh}